.card{
  display:inline-block;
  border:5 px;
  border:1 px solid;
  margin:20px;

}

h3,h4{
  margin:10px;
}
#nav{
  /* display:inline; */
  float:right;
}
.button{
  border:0;

}
.jumbotron,.button,.btn{
  background-color: rgb(104, 46, 104);
  color:white;
}
.jumbotron{
  padding:15px;
}
a:hover{
  color:white;
  text-decoration:none;
}